<h3>Most Visited URLS:</h3>
<div id="most_visited_urls">
  <ol>
    <% @most_visited_urls.each do |url| %>
      <li><a href="/sources/<%= @source.identifier %>/urls<%= URI(url.first).path %>"><%= url.first %></a></li>
    <% end %>
  </ol>
</div>
