<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <title>Traffic Spy</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    <div class="footer">
      <%= partial :'partials/footer' %>
    </div>
  </body>
</html>
